Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

#controladores
RewriteRule ^auth?$ app/authController.php
RewriteRule ^products/controller$ app/productController.php [L,QSA]

#páginas
RewriteRule ^login?$ index.php
RewriteRule ^home/?$ views/home.php
RewriteRule ^products/?$ views/products/index.php
RewriteRule ^products/create/?$ views/products/create.php
RewriteRule ^products/edit/([^/]+)/?$ views/products/edit.php?slug=$1
RewriteRule ^products/([^/]+)/?$ views/products/details.php?slug=$1
